{% extends 'base.html' %}

{% block content %}
<div class="container">   
    <div class="box">
    <h1>Stock Data Visualizer</h1>

    <form method="POST">
        <label for="reportChoice">SDV choice</label>
        <select id="reportChoice" name="reportChoice">
            <option value="" disabled selected>Choose one</option>
            <option value="products">Products</option>
            <option value="customers">Customers</option>
            <option value="employees">Employees</option>
        </select>
        <br>

        <label for="reportChoice">SDV choice</label>
        <select id="reportChoice" name="reportChoice">
            <option value="" disabled selected>Choose one</option>
            <option value="products">Products</option>
            <option value="customers">Customers</option>
            <option value="employees">Employees</option>
        </select>
        <br>

        <label for="reportChoice">SDV choice</label>
        <select id="reportChoice" name="reportChoice">
            <option value="" disabled selected>Choose one</option>
            <option value="products">Products</option>
            <option value="customers">Customers</option>
            <option value="employees">Employees</option>
        </select>
        <br>

        <label for="reportChoice">SDV choice</label>
        <select id="reportChoice" name="reportChoice">
            <option value="" disabled selected>Choose one</option>
            <option value="products">Products</option>
            <option value="customers">Customers</option>
            <option value="employees">Employees</option>
        </select>
        <br>

        <label for="reportChoice">SDV choice</label>
        <select id="reportChoice" name="reportChoice">
            <option value="" disabled selected>Choose one</option>
            <option value="products">Products</option>
            <option value="customers">Customers</option>
            <option value="employees">Employees</option>
        </select>
       
        <hr>

        <button type="submit">Submit choice</button>

    </form>
    </div>
</div>
{% endblock %}